html {
    position: relative;
    min-height: 100%;
  }
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    font-size:0.9rem;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: rgba(104, 128, 120, 0.562);
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  .container {
    width: auto;
    padding: 0 15px;
  }
  