.navbar{
    background: white;//linear-gradient(to bottom, #009999 -1%, #28a745 75%);
    padding:0 1em;
    margin-top:12px;
}

.nav-link{ color:#218838; font-size: large; padding:1rem !important}
.nav-brand-img {
    max-width: 250px;
}


.nav-brand-mobile-img {
    max-width: 150px;
}

.navbar-item{
    @extend .row;
    @extend .col-auto;
    @media (max-width: 468px){
    border: 1px lightgray solid;
    font-size: 13px;
    }
}

.navbar-right-section{
    margin-bottom: 1px;
    font-size: x-large;
    -webkit-animation-name: contactNumber; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    animation-name: contactNumber;
    animation-duration: 10s;
}