.album {
    height: 280px; width: 100%; display: block;
}

h1, h3 {
    font-family: 'Times New Roman', Times, serif !important;
}



@include media-breakpoint-down(sm) {
    .img-fluid-header {
        @include img-fluid;
        max-width: 50%;
    }
  }

  .bg-header {
      background-color: darkgreen
  }

  
  .bg-highlighter-green {
    background-color: #54795d !important
}

p .bg-highlighter-green a {
    color: white !important;
    font-size: 1.5em;
}

.fa-1_5x{
font-size: 1.5em !important;
}

.pad-l-b{
    padding:1rem 0 1rem 1rem;
}

.dropdown-item:hover{
    background-color: #28a745 !important
}
  