.album {
    height: 280px; width: 100%; display: block;
   
}
.album-item{
    height: 200px; width: 100%; display: block;
}


// h1, h3 {
//     font-family: 'Times New Roman', Times, serif !important;
// }

// li {
//    // font-size: 1.1rem;
//     @extend .py-2;
// }

label {
    @extend .f-600;
}

.form-control {
    border:1px solid #727274
}


@include media-breakpoint-down(sm) {
    .img-fluid-header {
        @include img-fluid;
        max-width: 50%;
    }
    h1, h3 {
        font-size: 24px !important;
    }
  }

  .bg-header {
      background-color: rgb(92, 192, 145)
  }

  
  .bg-highlighter-green {
    background-color: #54795d !important
}

p .bg-highlighter-green a {
    color: white !important;
    font-size: 1.2em;
    font-family: roboto !important;
}

.fa-1_5x{
font-size: 1.5em !important;
}

.fs_75
{
font-size: .5rem;
}

.pad-l-b{
    padding:1rem 0 1rem 1rem;
}

.dropdown-item:hover{
    background-color: #28a745 !important
}

.menu-header{
    border: 2px white solid !important;
    padding:0 5px 0 0 !important;
}
  
.no-padding {padding:0;}
.carousel-inner{

    img {
        max-width: 100%;
        height: auto;
    }
   
// /* All Mobile Sizes (devices and browser) */
// @media only screen and (max-width: 767px) {  min-height: 200px !important;

// }

// /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
// @media only screen and (min-width: 480px) and (max-width: 767px) {  min-height: 200px !important; }

// /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
// @media only screen and (max-width: 479px) {  min-height: 200px !important; }

}



.pad-right-0{
    padding-right:0;
}

.f-600{
    font-weight: 600;
}

.img-h-200{
    /* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {  height: 200px !important; }
@media only screen and (min-width: 767px) {  height: 250px !important; }

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {  height: 200px !important; }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {  height: 200px !important;}

}

.bottom{
    bottom: 0;
    position: absolute;
    width: 100%;
}