.album {
    height: 280px; width: 100%; display: block;
}

h1, h3 {
    font-family: 'Times New Roman', Times, serif !important;
}



@include media-breakpoint-down(sm) {
    .img-fluid-header {
        @include img-fluid;
        max-width: 50%;
    }
  }