.album {
    height: 280px; width: 100%; display: block;
   
}
.album-item{
    height: 200px; width: 100%; display: block;
}


h1, h3 {
    font-family: 'Times New Roman', Times, serif !important;
}



@include media-breakpoint-down(sm) {
    .img-fluid-header {
        @include img-fluid;
        max-width: 50%;
    }
  }

  .bg-header {
      background-color: rgb(92, 192, 145)
  }

  
  .bg-highlighter-green {
    background-color: #54795d !important
}

p .bg-highlighter-green a {
    color: white !important;
    font-size: 1.5em;
}

.fa-1_5x{
font-size: 1.5em !important;
}

.fs_75
{
font-size: .5rem;
}

.pad-l-b{
    padding:1rem 0 1rem 1rem;
}

.dropdown-item:hover{
    background-color: #28a745 !important
}

.menu-header{
    border: 2px white solid !important;
    padding:0 5px 0 0 !important;
}
  

.carousel-inner{

    img {
        max-width: 100%;
        height: auto;
    }
   
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {  min-height: 200px !important;

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {  min-height: 200px !important; }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {  min-height: 200px !important; }

}

.navbar{
    background: linear-gradient(to bottom, #009999 -1%, #28a745 75%);
    padding:0 1em;
}

.nav-brand-img {
    max-width: 250px;
}


.nav-brand-mobile-img {
    max-width: 150px;
}

.pad-right-0{
    padding-right:0;
}